


.Intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: white;  /* Set background to white */
    padding: 20px;  /* Optional padding */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.Intro-text {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    font-size:20px;
}

/* Add styles for the boxed paragraph */
.Intro-box {
    background-color:white; /* Light gray background */
    border: 1px solid #ddd;    /* Light border */
    padding: 20px;             /* Padding inside the box */
    border-radius: 115px;        /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 90%;            /* Restrict max width of the box */
    margin: 20px 0;            /* Add margin around the box */
}

.Intro-text > h1 {
    color: black;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.Intro-btns {
    margin-top: 32px;
}

.Intro-btns .btn {
    margin: 6px;
    justify-items: center;
}

.Intro-image {
    flex: 1;
    max-width: 50%;
    height: auto;
    object-fit: cover;
    margin-left: 20px;
    margin-top: -10px; /* Remove margin from the top to move the image upwards */
    align-self: flex-start; /* Align image to the top of the container */
}

@media screen and (max-width: 960px) {
    .Intro-text > h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .Intro-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .Intro-text {
        max-width: 100%;
        padding: 0 20px;
    }

    .Intro-image {
        max-width: 100%;
        margin: 20px 0;
    }

    .Intro-btns {
        justify-content: center;
    }
}
